/* ROOT */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root{
    --main-green-color: rgba(4, 255, 70);
    --main-red-color: rgba(255, 58, 32, 0.87);
    --main-white-color: rgba(240, 240, 240);
}

/* RESET */

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto';
    color: var(--main-red-color);
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}


.logo{
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 75px;
    margin: 20px 0 0 50px;
}

.container{
    display: flex;
    flex-direction: column;
    height: 450px;
}

.principal{
    align-items: center;
}

.principal > .nuevo-juego{
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.ahorcado{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}



.adivinado{
    text-align: center;
    font-size: 1.8rem;
    color: var(--main-green-color);
}

.letra{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.adivinada{
    width: 4.5rem;
    height: 5.4rem;
    border-bottom: .3rem solid var(--main-green-color);
    margin-left: 0.4rem;
    line-height: 4.5rem;
}

.errado{
    text-align: center;
    margin-top: 1rem;
    color: var(--main-red-color);
    margin-left: 1rem;
    font-size: 1.8rem;
}

.errada{
    margin-left: 1rem;
}


[type=button]{
    width: 15rem;
    padding: 1rem;
    border-radius: 1rem;
    background: inherit;
    border: 1px solid var(--main-red-color);
    color: var(--main-red-color);
    cursor: pointer;
}

.btn-rojo{
    background-color: var(--main-red-color);
    color: var(--main-white-color);
}

.botones{
    text-align: center;
    margin-top: 3rem;
}

.hide{
    display: none;
}

.victoria{
    color: var(--main-green-color);
}

.derrota{
    color: var(--main-red-color); 
}